<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Condicionales</title>
</head>
<body>

	<h1>Condicionales</h1>
	<h2>Comparaciones Basicas</h2>

	{% if grupo == "BTS" %}
	
	<h3>Integrantres de BTS</h3>

	<ol>
		<li>RM</li>
		<li>JIN</li>
		<li>SUGA</li>
		<li>J-HOPE</li>
		<li>JIMIN</li>
		<li>V</li>
		<li>JUNGKOOK</li>
	</ol>

	{% elif grupo == "NewJeans" %}

	<h3>Integrantres de NewJeans</h3>

	<ol>
		<li>MINJI</li>
		<li>DANIELLE</li>
		<li>HANNI</li>
		<li>HAERIN</li>
		<li>HYEIN</li>
	</ol>	

	{% else %}
	<h3>El grupo {{grupo}} no se encuenta en la base de datos</h3>

	{% endif %}
	
</body>
</html>