
{% macro lista_usuarios(usuarios) %}
	<ul>
		{% for usuario, tipo in usuarios %}
			<li>{{ "[Administradores]" if tipo == "Admin" else "[Usuario Normal]" }} - {{ usuario }}</li>
		{% endfor %}
	</ul>
{% endmacro %}

{% macro saludo() %}
	<p>Hola, Mundo</p>
{% endmacro %}